In [1]:
import numpy as np
import pandas as pd 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
persones=pd.read_csv('Accident_people_2021_2022.csv')
persones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17919 entries, 0 to 17918
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    17919 non-null  int64
 1   File_Num                      17919 non-null  object
 2   District                      17919 non-null  object
 3   Neighbourhood                 17919 non-null  object
 4   Street_name                   17919 non-null  object
 5   Day_name                      17919 non-null  object
 6   year                          17919 non-null  int64
 7   month                         17919 non-null  int64
 8   Month_name                    17919 non-null  object
 9   day                           17919 non-null  int64
 10  Day_shift                     17919 non-null  object
 11  hour                          17919 non-null  int64
 12  Pedestrian_situation          17919 non-null  object
 13  Vehicle_type                  17919 non-null  object
 14  Gender                        17919 non-null  object
 15  Age                           17919 non-null  object
 16  Person_type                   17919 non-null  object
 17  Pedestrian_accident_location  17919 non-null  object
 18  Pedestrian_intention          17919 non-null  object
 19  Driver_intention              17919 non-null  object
 20  Accident_severity             17919 non-null  object
 21  Date                          17919 non-null  object
dtypes: int64(5), object(17)
memory usage: 3.0+ MB

In [3]:
weather=pd.read_csv('data_meteo_estudifinal_2021_2022.csv')
weather = weather.drop(weather.columns[0], axis=1)
weather.rename(columns={'DATA_LECTURA':'Date'},inplace=True)
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35040 entries, 0 to 35039
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       35040 non-null  object
 1   03.TM      35040 non-null  float64
 2   06.HRM     35040 non-null  float64
 3   07.PPT24H  35040 non-null  float64
 4   08.HPA     35040 non-null  float64
 5   09.RS24H   35040 non-null  float64
 6   10.VVM10   35040 non-null  float64
dtypes: float64(6), object(1)
memory usage: 1.9+ MB

In [4]:
persones= persones[persones['Person_type'] == 'Driver']
persones.head()

,Unnamed: 0,File_Num,District,Neighbourhood,Street_name,Day_name,year,month,Month_name,day,...,Pedestrian_situation,Vehicle_type,Gender,Age,Person_type,Pedestrian_accident_location,Pedestrian_intention,Driver_intention,Accident_severity,Date
6,6,2021S003310,Ciutat Vella,el Barri Gòtic,Catalunya,Dijous,2021,6,Juny,17,...,Not pedestrian fault,Vehicle without motor,Men,31,Driver,A la vorera / Andana ...,Desconegut,Oci i entreteniment,Assistance,2021-06-17 20:00:00
8,8,2021S001728,Ciutat Vella,la Barceloneta,Marina,Diumenge,2021,4,Abril,4,...,Not known,Vehicle without motor,Women,45,Driver,A la vorera / Andana ...,Desconegut,Oci i entreteniment,Hospitalized,2021-04-04 10:00:00
17,17,2021S005721,Eixample,el Fort Pienc,Marina,Dimecres,2021,10,Octubre,13,...,Not pedestrian fault,Other,Women,51,Driver,A la vorera / Andana ...,Desconegut,In itínere,Hospitalized,2021-10-13 08:00:00
31,31,2021S005403,Eixample,l'Antiga Esquerra de l'Eixample,Aragó,Dimecres,2021,9,Setembre,29,...,Not pedestrian fault,Car,Men,71,Driver,A la vorera / Andana ...,Desconegut,Oci i entreteniment,Assistance,2021-09-29 09:00:00
39,39,2021S004164,Eixample,Sant Antoni,Comte Borrell,Divendres,2021,7,Juliol,23,...,Not pedestrian fault,Motorcycle,Men,24,Driver,A la vorera / Andana ...,Desconegut,Altres activitats,Hospitalized,2021-07-23 19:00:00

In [5]:
#FROM ALL THE DATA WE ARE JUST GOING TO FOCUS N¡ON THE DRIVERS BECAUSE
#THE PASSANGER OR THE PEDESTRIAN DOESN0T HAVE ANY KIND OF POWER TO NOT BE IN THE SITUATION OR HAVE ANY CONTROL

persones=persones[['Day_shift','Vehicle_type','Gender','Age','Date']]
weather=weather[['Date','03.TM','06.HRM','10.VVM10']]

#JOIN THE DATASETS WITH THE VARIABLE DATE
variables = pd.merge(persones, weather, on='Date', how='left')
variables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12681 entries, 0 to 12680
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Day_shift     12681 non-null  object
 1   Vehicle_type  12681 non-null  object
 2   Gender        12681 non-null  object
 3   Age           12681 non-null  object
 4   Date          12681 non-null  object
 5   03.TM         12681 non-null  float64
 6   06.HRM        12681 non-null  float64
 7   10.VVM10      12681 non-null  float64
dtypes: float64(3), object(5)
memory usage: 891.6+ KB

In [6]:
#add variable quarter and start studying the different variables
variables['Quarter'] = variables['Date'].apply(lambda x: pd.Timestamp(x).quarter)
variables.head()

,Day_shift,Vehicle_type,Gender,Age,Date,03.TM,06.HRM,10.VVM10,Quarter
0,Afternoon,Vehicle without motor,Men,31,2021-06-17 20:00:00,23.4,97.0,1.1,2
1,Morning,Vehicle without motor,Women,45,2021-04-04 10:00:00,15.9,55.0,2.3,2
2,Morning,Other,Women,51,2021-10-13 08:00:00,19.3,65.0,1.0,4
3,Morning,Car,Men,71,2021-09-29 09:00:00,23.5,64.0,1.4,3
4,Afternoon,Motorcycle,Men,24,2021-07-23 19:00:00,27.7,53.0,0.8,3

In [7]:
# LETS TRANSFORM TO CATHEGORIC THE COLUMN EDAT
#'youth' if their age value is lower than 21, 'young adult' from 21 to 31, 'adult' from 32 to 50, 'old' from 51 /// desconegut(404) -->NOT KNOWN
#transform value desconegut a 404
variables['Age'] = variables['Age'].replace('Desconegut', '404')
def categorize_age(age):
    if int(age) <= 18:
        return 'Kid'
    elif int(age) <= 30 and int(age) > 18:
        return 'Youth'
    elif int(age) <= 55 and int(age) > 30:
        return 'Adult'
    elif age == '404':
        return 'Not known'
    else:
        return 'Old'

# Apply function to transform ages to categories
variables['Age'] = variables['Age'].apply(categorize_age)

x=variables['Age'].unique()
print(x)

# count the frequency of each value in column 'a'
value_counts = variables['Age'].value_counts()

# calculate the percentage of times each value appears
percentage = (value_counts / len(variables)) * 100
print(percentage)

['Adult' 'Old' 'Youth' 'Kid' 'Not known']
Adult        54.372684
Youth        31.724627
Old          11.781405
Kid           2.073969
Not known     0.047315
Name: Age, dtype: float64

In [8]:
#x=variables['03.TM'].unique()
# print(np.sort(x)) the data goes from 3.8 to 34.2
def cat_temp(temp):
    if int(temp) <= 13:
        return 'Very low'
    elif int(temp) <= 17 and int(temp) > 13:
        return 'Low'
    elif int(temp) <= 24 and int(temp) > 17:
        return 'Mild'
    else:
        return 'Hot'
variables['03.TM'] = variables['03.TM'].apply(cat_temp)

x=variables['03.TM'].unique()
print(x)

# count the frequency of each value in column 'a'
value_counts = variables['03.TM'].value_counts()

# calculate the percentage of times each value appears
percentage = (value_counts / len(variables)) * 100
print(percentage)

['Mild' 'Low' 'Hot' 'Very low']
Mild        30.273638
Very low    25.045343
Hot         23.200063
Low         21.480956
Name: 03.TM, dtype: float64

In [9]:
#x=variables['06.HRM'].unique()
#print(np.sort(x)) from 9 percent to 100 percent
def cat_humidity(hum):
    if int(hum) <= 48:
        return 'Low'
    elif int(hum) <= 60 and int(hum) > 48:
        return 'Moderate'
    elif int(hum) <= 75 and int(hum) > 60:
        return 'High'
    else:
        return 'Very high'
variables['06.HRM'] = variables['06.HRM'].apply(cat_humidity)

x=variables['06.HRM'].unique()
print(x)

# count the frequency of each value in column 'a'
value_counts = variables['06.HRM'].value_counts()

# calculate the percentage of times each value appears
percentage = (value_counts / len(variables)) * 100
print(percentage)

['Very high' 'Moderate' 'High' 'Low']
High         39.216150
Moderate     25.234603
Low          19.075783
Very high    16.473464
Name: 06.HRM, dtype: float64

In [10]:
#x=variables['10.VVM10'].unique()
#print(np.sort(x)) from 0 to 8.7
#x=variables['06.HRM'].unique()
#print(np.sort(x)) from 9 percent to 100 percent
def cat_wind(wind):
    if int(wind) <= 1:
        return 'Low'
    elif int(wind) <= 2 and int(wind) > 1:
        return 'Moderate'
    else:
        return 'High'
    
variables['10.VVM10'] = variables['10.VVM10'].apply(cat_wind)

x=variables['10.VVM10'].unique()
print(x)

# count the frequency of each value in column 'a'
value_counts = variables['10.VVM10'].value_counts()

# calculate the percentage of times each value appears
percentage = (value_counts / len(variables)) * 100
print(percentage)

['Low' 'Moderate' 'High']
Low         43.080199
Moderate    30.344610
High        26.575191
Name: 10.VVM10, dtype: float64

ITERATIVE CLUSTER

In [11]:
from sklearn import preprocessing
from kmodes.kmodes import KModes

# Subset of variables for clustering
subgroup = variables[['Day_shift', 'Vehicle_type', 'Gender', 'Age', '03.TM']]

# Label encoding
le = preprocessing.LabelEncoder()
subgroup_encoded = subgroup.apply(le.fit_transform)
#to create the list to get the percenge of significant clusters
l=[]
# Iterate through cluster numbers
for n_clusters in range(3, 5):
    # Clustering
    km = KModes(n_clusters=n_clusters, init='Cao', n_init=1, verbose=1)
    clusters = km.fit_predict(subgroup_encoded)

    # Combine with original data
    combined = pd.concat([subgroup.reset_index(), pd.DataFrame({'Cluster': clusters})], axis=1).drop('index', axis=1)

    # Create table
    table = pd.DataFrame(columns=range(n_clusters))

    # Fill in table with percentage of instances of each value in each cluster for each variable
    for var in subgroup.columns:
        by_cluster_value = combined.groupby(['Cluster', var]).size()
        percentages = by_cluster_value.groupby(level=0).apply(lambda x: x / x.sum() * 100)
        pivot_table = pd.pivot_table(percentages.reset_index(), index=var, columns='Cluster', values=0, fill_value=0)

        # Fill in table with percentage of instances for each value in each cluster
        for i, col in enumerate(pivot_table.columns):
            values = pivot_table[col].index.tolist()
            pct_values = pivot_table[col].tolist()
            for j, value in enumerate(values):
                table.loc[value, i] = pct_values[j]
        # Add new column with variable names based on index
    table['VARIABLE'] = ''

    variable_mapping = {}

    for column in subgroup.columns:
        unique_values = subgroup[column].unique()
        variable_mapping[column] = unique_values

    for i, index_value in enumerate(table.index.values):
        for variable, values in variable_mapping.items():
            if index_value in values:
                table.iloc[i, -1] = variable
                break

    table = table.reset_index().rename(columns={'index': 'value'})
    table = table[['VARIABLE'] + list(table.columns[:-1])]
    table = table.set_index('VARIABLE')       

    # Add a new row for the cluster totals
    table.loc['Cluster percentage of drivers'] = 0

    # Calculate the number of instances in each cluster
    cluster_counts = combined['Cluster'].value_counts()

    # Fill in the table with the percentage of instances in each cluster
    for i, count in cluster_counts.items():
        table.loc['Cluster percentage of drivers', i] = count / len(combined) * 100
   
    #table.to_excel(f'table_{n_clusters}_clusters_pas1.xlsx', index=True)
    table1=table
    # Save table to CSV file
    table = table.drop('value', axis=1)
    new_table_2 = pd.DataFrame(index=table.index.unique())
# Iterate over each column (0, 1, 2, 3) and find the highest percentage for each variable
    for col in table.columns:
        col_max = table.groupby(level=0)[col].max()
        new_table_2[col] = col_max
# Add the 'Cluster percentage of drivers' row back to the new DataFrame
    new_table_2.loc['Cluster percentage of drivers'] = table.loc['Cluster percentage of drivers']
# Display the new DataFrame
    #print(new_table_2)
    #new_table_2.to_excel(f'table_{n_clusters}_clusters_pas2.xlsx', index=True)
    new_table_3= new_table_2.loc[new_table_2.index != 'Cluster percentage of drivers'] = (new_table_2.loc[new_table_2.index != 'Cluster percentage of drivers'] >= 70).astype(int)
    new_table_3.loc['number of significant variables'] = new_table_3.sum()
    #new_table_2.to_excel(f'table_{n_clusters}_clusters_pas3.xlsx', index=True)
    #print(new_table_3) 
    new_table_3.loc['Cluster percentage of drivers'] = table.loc['Cluster percentage of drivers']
    new_table_3.loc['Cluster significance'] = new_table_3 .loc['number of significant variables'] / 5
    #new_table_3.loc['Cluster significant?'] = new_table_3 .loc['Cluster significance']>=0.5
    #MODIFIED TO TAKE INTO ACCOUNT THE NUMBER OF DRIVERS IN EACH CLUSTER
    new_table_3.loc['Cluster significant?'] = (new_table_3.loc['Cluster significance'] >= 0.5) & (new_table_3.loc['Cluster percentage of drivers'] > 5)
    new_table_4=new_table_3
    new_table_4.loc['Significant clusters'] = np.nan
# Add a column with the percentage of significant cluster
    new_table_4.loc['Significant clusters' ,'percentage of significant cluster'] = new_table_4.loc['Cluster significant?'].sum() / n_clusters
# Transpose the dataframe back to its original orientation
    l.append(round(new_table_4.loc['Cluster significant?'].sum() / n_clusters,2))
    print(l)
# Print the resulting dataframe
    #new_table_4.to_excel(f'table_{n_clusters}_clusters_pas4.xlsx', index=True)
    #print(new_table_4)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 0, cost: 22899.0
[0.0]
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 0, cost: 21502.0
[0.0, 0.5]

In [20]:
print(table1)
table1.to_excel('resultats_4_clust.xlsx')
combined.to_excel('4_clusters_valors.xlsx')

                                               value          0          1  \
VARIABLE
Day_shift                                  Afternoon  71.031647  22.291994
Day_shift                                    Morning  19.050586  65.149137
Day_shift                                      Night   9.917767   12.55887
Vehicle_type                                     Car    10.0922  12.637363
Vehicle_type                              Motorcycle  72.913033  68.602826
Vehicle_type                                   Other   8.273112   8.163265
Vehicle_type                   Vehicle without motor   8.721655  10.596546
Gender                                           Men  78.395216  26.059655
Gender                                     Not known   0.037379        0.0
Gender                                         Women  21.592325  73.940345
Age                                            Adult  64.801894  21.899529
Age                                              Kid   2.242711   1.255887
Age                                              Old   8.609519    9.22292
Age                                            Youth  24.308497  67.621664
03.TM                                            Hot  21.530027   22.99843
03.TM                                            Low  20.595564  25.078493
03.TM                                           Mild  41.602293   9.654631
03.TM                                       Very low  16.272116  42.268446
Cluster percentage of drivers                      0  63.291539  20.093053

                                       2          3
VARIABLE
Day_shift                       14.40678  12.123818
Day_shift                      75.635593  76.440241
Day_shift                       9.957627  11.435942
Vehicle_type                   52.860169   6.878762
Vehicle_type                   21.716102  25.365434
Vehicle_type                   11.758475  61.478934
Vehicle_type                   13.665254    6.27687
Gender                         88.877119  87.876182
Gender                          0.105932   0.171969
Gender                         11.016949  12.037833
Age                            19.915254  81.513328
Age                             2.118644    2.66552
Age                            58.368644   1.461737
Age                            19.491525  14.187446
03.TM                          54.661017   9.630267
03.TM                          28.813559  13.757524
03.TM                          10.169492  13.585555
03.TM                           6.355932  63.026655
Cluster percentage of drivers   7.444208   9.171201

In [18]:
filtered_df = combined[(combined['Cluster'] == 0) & (combined['Day_shift'] == 'Afternoon') & (combined['Vehicle_type'] == 'Motorcycle') & (combined['Gender'] == 'Men')& (combined['Age'] == 'Adult')]
# Count the number of rows that meet the conditions
count = len(filtered_df)
# Calculate the percentage
percentage = (count / len(combined[combined['Cluster'] == 0])) * 100

print(f"Percentage: {percentage:.2f}%")

Percentage: 21.33%

In [13]:
print(table)

                                       0          1          2          3
VARIABLE
Day_shift                      71.031647  22.291994   14.40678  12.123818
Day_shift                      19.050586  65.149137  75.635593  76.440241
Day_shift                       9.917767   12.55887   9.957627  11.435942
Vehicle_type                     10.0922  12.637363  52.860169   6.878762
Vehicle_type                   72.913033  68.602826  21.716102  25.365434
Vehicle_type                    8.273112   8.163265  11.758475  61.478934
Vehicle_type                    8.721655  10.596546  13.665254    6.27687
Gender                         78.395216  26.059655  88.877119  87.876182
Gender                          0.037379        0.0   0.105932   0.171969
Gender                         21.592325  73.940345  11.016949  12.037833
Age                            64.801894  21.899529  19.915254  81.513328
Age                             2.242711   1.255887   2.118644    2.66552
Age                             8.609519    9.22292  58.368644   1.461737
Age                            24.308497  67.621664  19.491525  14.187446
03.TM                          21.530027   22.99843  54.661017   9.630267
03.TM                          20.595564  25.078493  28.813559  13.757524
03.TM                          41.602293   9.654631  10.169492  13.585555
03.TM                          16.272116  42.268446   6.355932  63.026655
Cluster percentage of drivers  63.291539  20.093053   7.444208   9.171201

In [14]:
print(new_table_2)

                                       0          1         2         3
VARIABLE
Day_shift                       1.000000   0.000000  1.000000  1.000000
Vehicle_type                    1.000000   0.000000  0.000000  0.000000
Gender                          1.000000   1.000000  1.000000  1.000000
Age                             0.000000   0.000000  0.000000  1.000000
03.TM                           0.000000   0.000000  0.000000  0.000000
Cluster percentage of drivers  63.291539  20.093053  7.444208  9.171201

In [15]:
print(new_table_3)

                                         0          1         2         3  \
VARIABLE
Day_shift                         1.000000   0.000000  1.000000  1.000000
Vehicle_type                      1.000000   0.000000  0.000000  0.000000
Gender                            1.000000   1.000000  1.000000  1.000000
Age                               0.000000   0.000000  0.000000  1.000000
03.TM                             0.000000   0.000000  0.000000  0.000000
number of significant variables   3.000000   1.000000  2.000000  3.000000
Cluster percentage of drivers    63.291539  20.093053  7.444208  9.171201
Cluster significance              0.600000   0.200000  0.400000  0.600000
Cluster significant?              1.000000   0.000000  0.000000  1.000000
Significant clusters                   NaN        NaN       NaN       NaN

                                 percentage of significant cluster
VARIABLE
Day_shift                                                      NaN
Vehicle_type                                                   NaN
Gender                                                         NaN
Age                                                            NaN
03.TM                                                          NaN
number of significant variables                                NaN
Cluster percentage of drivers                                  NaN
Cluster significance                                           NaN
Cluster significant?                                           NaN
Significant clusters                                           0.5

In [ ]:
j=[]
for i in range(3, 20):
    j.append(i)
print(j)